/* ! Please Don't change any of this Code, just use them and write your code in public/Style.css File */

/* 
Project Admin 
    Name: Ali Reza,
    age: 17 Year-old,
    GitHub: https://github.com/AliReza1083,
    Twitter: https://twitter.com/webDeveloper83,
    linkedIn: https://www.linkedin.com/in/alireza17/
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #FF902B;
    --secondary: #2F2105;
    --accents: #F9D9AA;
    --glass: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .4));
    --light: #7E7D7A;

    --shadow: 0 6px 16px rgba(0, 0, 0, .16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}